/* MarketForm.css */


.custom-grid>.MuiGrid-item {
  margin-right: 0px;
  /* Adjust this value as needed */
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.youMakeTheHeading span {
  animation: fadeOut 1s forwards;
}

.youMakeTheHeading span.active {
  animation: fadeIn 1s forwards;
}


/* Add this to your existing CSS file or create a new one */

